<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../server.js"></script>
    <title>Delete row</title>
    <h1 style="text-align: center">Please enter the key you want to delete in the search bar</h1>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>  
    <div class="container">
        <hr>
        <h3 style="text-align: center">Example: localhost:3000/data/:key</h2>
        <hr>
    </div> 
</body>
</html>