<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../server.js"></script>
    <title>Form dump</title>
    <h1 style="text-align: center">List of your tasks</h1>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>  
    <div>
        <script>getAll()</script>
    </div> 
</body>
</html>