<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three buttons</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>  
    <div style="text-align: center" class="three_buttons">
        <h1>Welcome to To-Do list app</h1>
        <p>&#128512;</p>
        <br>
        <h2>Please choose your action from the buttons below</h2>
        <button onclick="window.location.href='list.ejs'" type ="button" class="btn btn-primary">List</button>
            
        <button onclick="window.location.href='index.ejs'" type="button" class="btn btn-primary">Add</button>

        <button onclick="window.location.href='delete.ejs'" type="button" class="btn btn-primary">Delete</button>
    </div>
</body>
</html>